
body{
    background-image: url("../Images/ignasi_pattern_s.png");
}

.cardSpace{
    width: 60rem; height: 40rem;
    margin:60px
    
}

.wrapText{
    margin: 10px;
}

.portfolioCard{
    width: 50rem;
    height: 45rem;
}

.whiteSpace{

    padding: 60px;
    margin-bottom: 30px;
    background-color: white


}
#headName{
    color: white;
    font-size: 22;
    font-weight: bold;
    background: teal;
}

.alignThisRight{
    text-align: right;
}