/* Linking background image */

body {
    background-image: url("../Images/ignasi_pattern_s.png");
}

/* Navbar */

#headName {
    color: white;
    font-size: 22;
    font-weight: bold;
    background: teal;
}

/* Cards */

/* Spacing  */

.cardSpace {
    width: 60rem auto;
    height: 40rem auto;
    margin: 60px auto
}

/* Portfolio page */

.portfolioCard {
    width: 50rem;
    height: 45rem;
}

/* Whitespace backgroung for portfolio (opted for two separate platform styles) */

.whiteSpace {
    padding: 60px;
    margin-bottom: 30px;
    background-color: white
}

/* Image formatting  */

.imgFit {
    width: auto;
    margin: 15px auto;
}

/* Header in .whiteSpace */
.portHead {
    color: teal;
    font-weight: bold;
}

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
}